<section>
    <h2 id="about-me">About Myself</h2>
    <hr class="bar" />
    <div class="about-lock">
        <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
            <div class="flipper">
                <div class="front">
                    <div class="face-img"></div>
                </div>
                <div class="back">
                    <div class="face1-img"></div>
                </div>
            </div>
        </div>
        <div class="glyph-icon flaticon-cogwheel28"></div>
        <div class="glyph-icon flaticon-computer1"></div>
        <div class="glyph-icon flaticon-hosting"></div>
        <div class="glyph-icon flaticon-computers13"></div>
    </div>
    <div class="blurb">
        <p>My name is Imran Ahmed. I'm a junior, majoring in Computer Science and minoring in Business Administration at the Univerisity of Mary Washington.
        I am orginially from Bangladesh, although I was born in Geneva, Switzerland. I can speak three different languages: English, Bangla, and French.
        
        So far throughout my own time and my undergraduate career, I have acquired theses following skills: C++, Java, Bootstrap, PostgresSQL, SQL, HTML5, CSS3, AngularJS, 
        JavaScript, SocketIO, Python, and Unix.
        
        After living my first three years in Switzerland, I moved to Southern California and lived there for about a year. After living in Southern California for a year,
        my family and I moved to Fairfax, Virginia and then moved to South Riding, VA. I grew up mostly in South Riding, Virginia as a Bengali-Swiss-American. Growing up 
        in South Riding, VA was tough because with all the moving and not being there close with my relatives in Switzerland. The thing I did was just talk with the friends
        I eventually made and played video games a lot-which I played a lot of video games.
        
        As I grew older, I fell in love with the game of basketball. I was so in love with basketball that I decided to coach 5 years of it (1 year as assistant coach and 
        4 years as head coach). The four years I was a head coach, we made it to the playoffs every year as one of the top teams in the league and won the championships twice.
        For coaching basketball for 5 years, I have earned 250 volunteer hours. I still play basketball since I was in second grade. I love to play my guitar in my free time, 
        stay in shape, and love spending time with my family and relatives.
        </p>
    </div>
    <div class="skill-lock"></div>
</section>