<section>
    <h2 id="about-me">About Myself</h2>
    <hr class="bar" />
    <div class="about-lock">
        <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
            <div class="flipper">
                <div class="front">
                    <div class="face-img"></div>
                </div>
                <div class="back">
                    <div class="face1-img"></div>
                </div>
            </div>
        </div>
        <div class="glyph-icon flaticon-cogwheel28"></div>
        <div class="glyph-icon flaticon-computer1"></div>
        <div class="glyph-icon flaticon-hosting"></div>
        <div class="glyph-icon flaticon-computers13"></div>
    </div>
    <div class="blurb">
        <p>My name is Imran Ahmed. I'm a senior, majoring in Computer Science and minoring in Business Administration at the University of Mary Washington. I am originally 
        from Bangladesh, although I was born in Geneva, Switzerland. I can speak three different languages: English, Bangla, and French.</p>
        
        <p>So far throughout my own time and my undergraduate career, I have acquired theses following skills: C++, Java, Bootstrap, PostgresSQL, SQL, HTML5, CSS3, AngularJS,
        JavaScript, SocketIO, Python, and Unix.</p>
        
        <p>I lived the first three years of my life in Switzerland, then I moved to USA in California for two years. After there, I moved to Fairfax, Virginia for a year. Then we moved to South Riding, VA.</p>
        
        <p>In the beginning it was hard settling down in South Riding because of all the moving and being far from my relatives in Switzerland. Later I made friends for life 
        in South Riding which helped me to settle down. South Riding is the best place to live.</p>
        
        <p>As I grew older, I fell in love with the game of basketball. I was so in love with basketball that I decided to coach 5 years of it (1 year as assistant coach and
        4 years as head coach). The four years I was a head coach, we made it to the playoffs every year as one of the top teams in the league and won the championships twice.
        For coaching basketball for 5 years, I have earned a total of 250 volunteer hours. I still play basketball since I was in second grade. Plus I'm a huge Boston Celtics
        fan since I started watching basketball when I was in 2nd grade. I love to play my guitar in my free time, stay in shape, watch basketball (especially the Boston Celtics
        games) in my free time, and love spending time with my family and relatives.</p>
    </div>
    <div class="skill-lock"></div>
</section>
