<section>
    <h2 id="about-me">About Myself</h2>
    <hr class="bar" />
    <div class="about-lock">
        <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
            <div class="flipper">
                <div class="front">
                    <div class="BusinessPic-img"></div>
                </div>
                <div class="back">
                    <div class="face1-img"></div>
                </div>
            </div>
        </div>
        <div class="glyph-icon flaticon-cogwheel28"></div>
        <div class="glyph-icon flaticon-computer1"></div>
        <div class="glyph-icon flaticon-hosting"></div>
        <div class="glyph-icon flaticon-computers13"></div>
    </div>
    <div class="blurb">
        <p>My name is Imran Ahmed. I'm a junior, majoring in Computer Science and minoring in Business Administration at the Univerisity of Mary Washington.
        I am orginially from Bangladesh, although I was born in Geneva, Switzerland. I can speak English, Bangla, and French.</p>
    </div>
    <div class="skill-lock"></div>
</section>