<section class="section-contact">
    <h2 id="Details">Contact Details</h2>
    <hr class="bar" />
    <div class="social-links">
        <a href="https://www.facebook.com/immy1996/">
            <div class="glyph-icon flaticon-facebook3"></div>
        </a>
        <a href="https://www.linkedin.com/in/iahmed1996">
            <div class="glyph-icon flaticon-linkedin"></div>
        </a>
        <a href="https://github.com/immy1996">
            <div class="glyph-icon flaticon-github"></div>
        </a>
    </div>
    <hr class="bar" /><a href="mailto:imranahmed1996.22@gmail.com" class="biglink">imranahmed1996.22@gmail.com</a></section>
