<section class="section-contact">
    <h2 id="Details">Contact Details</h2>
    <hr class="bar" />
    <div class="social-links">
        <a href="https://www.facebook.com/immy1996/">
            <div class="glyph-icon flaticon-facebook3"></div>
        </a>
        <a href="https://www.linkedin.com/in/imran-ahmed-714b7975?trk=nav_responsive_tab_profile_pic">
            <div class="glyph-icon flaticon-linkedin"></div>
        </a>
        <a href="https://github.com/immy1996">
            <div class="glyph-icon flaticon-github"></div>
        </a>
    </div>
    <hr class="bar" /><a href="mailto:iahmed@mail.umw.edu" class="biglink">iahmed@mail.umw.edu</a></section>
