<div id="container1" class="arrow"></div>
<div id="container"></div>
<header id="home">
    <nav><font color="black"><a href="#about-me">About Me</a><a href="#Experenice">Experience</a><a href="#Blog">Blog</a><a href="#Contact">Resume</a><a href="#Details">Contact Me</a></font></nav>
    <h1><span><font color="black">Imran Ahmed</font></span></h1>
    <p class="kicker"><span style="background-color: #B6B6B4"><font color="black">UMW Senior Student // Computer Science Major // Business Administration Minor // Bengali // Swiss</font></span></p>
</header>
