<div class="history">
    <div class="cd-timeline-header">
        <h2 id="Experenice">Experience</h2>
        <hr class="bar" />
    </div>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/web-programming.svg" alt="Picture" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2 class="story-heading">Web Development Intern at AMPCUS Inc.</h2>
                <P>Practice hard coding in HTML5 and CSS3 websites for AMPCUS, researched material content for websites, writing and editing content, designing webpage layout, updating websites, creating back up files, and debugging problems.</P><span class="cd-date">May 2015 - August 2015</span></div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie"><img src="../assets/img/college.svg" alt="Picture" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>University of Mary Washington</h2>
                <p>Majoring in Computer Science and minoring in Business Administration. Been nominated onto the Dean's List: Fall 2015 and Spring 2016. Currently involved in several groups: UMW Basketball Club, UNICEF club and ISA club.</p><span class="cd-date">August 2014 - Current</span></div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/graduate38.svg" alt="Location" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Freedom High School</h2>
                <p>Earned my high school diploma. Involved in several groups: TSA, Key club, Chess club, and CAMPUS. Received three awards: Volunteer Letter (Earned due to 250 volunteer hours) and True Eagle (two times)</p><span class="cd-date">August 2010 - June 2014</span></div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/idea14.svg" alt="College" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Retail Sales Associate at JCPenney</h2>
                <p>Provided customer service to patron, stocking and organizing product on the sales floor, greeting customers, assisting guests with finding the right merchandise, ringing up purchases, and handling returns</p><span class="cd-date">Sept 2012 - May 2014</span></div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/hosting.svg" alt="Location" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Volunteer at Mercer-Lunsford Basketball League</h2>
                <p>Created offensive and defensive strategies, designed plays and practiced those plays in practice, assigned positions to players, managed when practice will be held, directed schedule of what was coming up next in schedule, emailed parents/players about important
                reminders and tips for upcoming games, and worked with players individually if those players needed more help.</p><span class="cd-date">December 2009 - March 2014</span></div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
            <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location"><img src="../assets/img/question30.svg" alt="Location" /></div>
            </div>
            <!-- cd-timeline-->
        </div>
    </section>
    <div class="cd-timeline-header">
        <h2></h2>
    </div>
</div>
