<section>
  <h2 id="Resume">Resume</h2>
  <h2>TESING TO SEE IF THIS SHOWS ON MY SITE</h2>
  <hr class="bar" />
   <div class="blurb">
     <p>Objective: To obtain an entry level position working in information technology/business in the Summer of 2018
     </p>
     <p> <a href=https://www.scribd.com/document/369307607/Imran-Ahmed-Resume target="_blank">Click here to view my resume </a></p>
  </div>
</section>
<section class="section-contact">
    <h2 id="Contact">Contact Me</h2>
    <hr class="bar" />
    <form method="POST" action="//formspree.io/iahmed@mail.umw.edu">
        <div class="contact-info-group"><label><span>Your Name</span><input type="text" name="name"/>
        </label><label><span>Your Email</span><input type="email" name="_replyto"/>
        </label></div><label><span>Message</span><textarea name="Message">
        </textarea><div class="submit-wrap"><input type="submit" value="Send"/></div></label></form>
</section>
