<style>
    li {
        display: inline-block;
    }
</style>

<section>
    <h2 id="Resume">Resume</h2>
    <hr class="bar" />
    <div class="blurb">
        <p>Objective: To obtain an entry level position working in information technology/business in the Summer of 2018
        </p>
        <p> <a href=https://www.scribd.com/document/369307607/Imran-Ahmed-Resume target="_blank">Click here to view my resume </a></p>
    </div>
</section>

<section class="section-eportfolio">
    <h2 id="eportfolio">Eportfolio1</h2>
    <hr class="bar" />
    <div class="blurb">
        <b><u>430 Assignments</u></b>
        <p>
            Project Plan Document | Usability Study | UMW Honors Web Application
        </p>
        </br>
        <b><u>Personal Projects</u></b>
        <p>
            TinCan Prototypes-Basketball Course |
            <!-- Trigger the modal with a button -->
            <a type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#.bd-example-modal-lg"> PokeSearch </a>
        </p>
    </div>

    </br>
</section>


<section>
    <h2 id="Contact">Contact Me</h2>
    <hr class="bar" />
    <form method="POST" action="//formspree.io/iahmed@mail.umw.edu">
        <div class="contact-info-group"><label><span>Your Name</span><input type="text" name="name"/>
        </label><label><span>Your Email</span><input type="email" name="_replyto"/>
        </label></div><label><span>Message</span><textarea name="Message">
        </textarea><div class="submit-wrap"><input type="submit" value="Send"/></div></label></form>
</section>


<!-- Modal -->
<div id="myModal" class="modal fade bd-example-modal-lg" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">PokeSearch</h4>
            </div>
            <div class="modal-body">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="/../PokeSearchimg/Chat.png" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/../PokeSearchimg/Home Page when Logged In.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/../PokeSearchimg/Login Error.png" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/../PokeSearchimg/Login Popup.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/../PokeSearchimg/Register Account Error.png" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src=="/../PokeSearchimg/Register Page.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/../PokeSearchimg/Search Page Part 1.png" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/../PokeSearchimg/Search Page Part 2.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/../PokeSearchimg/Search Page Part 3.png" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/../PokeSearchimg/Stats Section on Home Page.png" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/../PokeSearchimg/Top of Home Page.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="/../PokeSearchimg/Types Section on Home Page.png" alt="Third slide">
                        </div>
                    </div>
                </div>
                <p>Going to be talking about .</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
